*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

.container{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.input{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.input input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

.input button{
    padding: 10px;
    margin-left: 15px;
    background-color: cornflowerblue;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.weather-box{
    border: 2px solid black;
    height: 500px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(158, 154, 154);
}

.icon{
    font-size: 50px;
    margin-bottom: 20px;
}
.weather{
    font-size:24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.temperature{
    font-size:30px;
    margin-bottom: 10px;
}
.description{
    font-size: 16px;
    color: rgb(52, 123, 245);
}